<script>
  <% if @token %>
    var token = "<%= @token %>";
    function formatPercent(val) {
      return (Math.round(val * 10000) / 100.0).toString() + " %";
    }

    $(document).ready(function() {
      if(token) {
        $.get("/user_timeline?access_token="+token, function(data, err) {
          $("#emotionInfo").text(JSON.stringify(data));
          var posts = data["posts"];
          var happy = data["happy"];
          var unhappy = data["unhappy"];
          var table = $("#emotionTable");
          table.append("<tr><th>Date</th><th>Happy</th><th>Unhappy</th></tr>");
          for(var i = 0; i < posts.length; ++i) {
            var date = new Date(Date.parse(posts[i]['created_at']));
            date = date.getUTCFullYear() + "-" + (date.getUTCMonth()+1) + "-" + date.getUTCDay().toString();
            var h = formatPercent(posts[i]['happy']);
            var u = formatPercent(posts[i]['unhappy']);
            table.append("<tr><td>"+date+"</td><td>"+h+"</td><td>"+u+"</td></tr>");
          }
          table.append("<tr><td>Total</td><td>"+formatPercent(happy)+"</td><td>"+formatPercent(unhappy)+"</td></tr>");
        });
      }
    });
  <% end %>
</script>
<table id="emotionTable"></table>
<br/><br/><br/><br/>
<div id="emotionInfo"></div>


